<div style="margin-left:20px;">
  <button mat-raised-button (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>Go back
  </button> IaaS Solutions > Windows
</div>
<div class="headerD">
  <h4>Windows</h4>
  <p>The solution provisions compute instances & DBAAS
    in a new network on OCI. </p>

  <div class="cardBlock">

    <mat-card class="example-card">
      <mat-card-header>

      </mat-card-header>
      <div class="upperImage">
        <img mat-card-image src="../../../../assets/imgs/solution//Windows.png" >

      </div>
      <div class="bottomLine">
        <img mat-card-image>
      </div>
      <mat-card-content style="background: #EE5A14; color: white;">
          <h4>Windows</h4>
        <p>The solution provisions compute instances & DBAAS
          in a new network on OCI. </p>
      </mat-card-content>
      <mat-card-actions class="lastchild">
        <button mat-raised-button (click)="OpenRequestDialog()">REQUEST</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>