.example-card {
    max-width: 200px;
    margin: 0 30px 30px 0px;
    max-height: fit-content;
    padding: 0px;
    background-size: cover;
    box-shadow: 0 3px 10px -1px rgba(0,0,0,.2), 0 1px 6px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12);
    ::ng-deep .mat-card-header {
        display: flex;
        flex-direction: row;
        padding: 0px; 
    }
    ::ng-deep .mat-card>.mat-card-actions:last-child {
        margin-bottom: 11px;
    }
    .mat-card-image {
        width: inherit;
        margin: 0px;
    }
    ::ng-deep  .mat-card-content {
        display: block;
        padding: 16px;
        height: 120px;
    }

    .upperImage{
        margin-top: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 19px 0px;
    }
    
    .bottomLine{
         border-bottom: 1px solid lightgray;
        
     }
     

  .example-header-image {
    background-size: cover;
  }
  
  .lastchild{
    padding: 16px;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}
  
}

.headerD{
    padding: 10px 0px 10px 20px;
    margin: 20px 0 0 20px;
    border: 1px solid lightgray;
    h4{
        font-size:18px;
        
        font-weight: 600;
    }
    
    p{
        font-size:12px;
        
        font-family: sans-serif;
    }
    .cardBlock {
        display: -webkit-box;
        
     }
}

.mat-raised-button{
    background: #CB3B28;
    color: white;
}



::ng-deep .mat-dialog-container {
    padding: 0px !important;
  }
