<div style="margin-left:20px;">
  <button mat-raised-button (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>Go back
  </button> IaaS Solutions > Oke
</div>
<div class="headerD">
  <h4>Oke</h4>
  <p>  The solution provides a preconfigured, fully managed Kubernetes cluster on OCI.</p>

  <div class="cardBlock">

    <mat-card class="example-card">
      <mat-card-header>

      </mat-card-header>
      <div class="upperImage">
        <img mat-card-image src="../../../../assets/imgs/oracle-oke.png" alt="Photo of a Shiba Inu">

      </div>
      <div class="bottomLine">
        <img mat-card-image>
      </div>
      <mat-card-content style="background: #EE5A14; color: white;">
          <h4>Oracle Kubernetes Engine</h4>
        <p>Oracle Kubernetes Engine. </p>
      </mat-card-content>
      <mat-card-actions class="lastchild">
        <button mat-raised-button (click)="OpenRequestDialog()">REQUEST</button>
      </mat-card-actions>
    </mat-card>

 
</div>