.example-container {
    display: flex;
    
    flex-direction: column;
    padding: 24px;
    ::ng-deep .mat-form-field-underline {
      display: none;
    }

   .mat-form-field {
        display: inline-block;
        position: relative;
        text-align: left;
        background: #f2f1ef;
        margin-bottom: 17px;
        border-radius: 6px;
    }
    ::ng-deep .mat-form-field-wrapper {
        position: relative;
        /* margin: 3px; */
        margin-left: 9px;
        margin-right: 15px;
        /* margin-bottom: 1px; */
    }
  
  
  }
  .containerHeader{
    background-color: #e74c3c;
    font-size: 14px;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    height: 56px;
    box-sizing: border-box;
    padding: 13px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-raised-button{
    background: #e74c3c;
    color: white;
  }
.textMain{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: #000000;
}
.linedText{
    h2:first-child{
        margin-top:30px;
    }
    h2 {
       
        border-bottom: 1px solid #A5A5A5; 
        line-height: 0em;
        margin:  10px 0 20px;
        padding-left: 65px;
        font-size: 13px;

    } 
    
    h2 span { 
        background:#fff; 
        padding:0 10px; 
        color: #A5A5A5
    }
}
