
::ng-deep .mat-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background: inherit;
    color: white;
   
    background-size: cover;
}

::ng-deep .mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
 
    margin-left: 80px;
    margin-right: 80px;
}

// ::ng-deep .mat-tab-body-wrapper {
//     margin-top: 25px;

// }

::ng-deep .mat-tab-label:hover{
    background: lightgray;
    
}

::ng-deep .mat-tab-label {
   color: white;
   font-size: 13px;
   font-weight: 550;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: white;
}

mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
}


  mat-toolbar{
    background: inherit;
    color: white;
    padding: 0px 80px;
  //  background-image: url('../../assets/imgs/Landing_Page_Banner.png');
   
  
  }

  .content {
    min-height: 100%;
    background-image: url('../assets/imgs/Landing_Page_Banner.png');
    background-size: cover;
  }
  .content-inside {
    padding-top: 20px;
    .icons{
      text-align: right;
      width: inherit;
      cursor: pointer;
      .mat-icon {
        padding: 0px 15px;
      }
    }

  //  margin: 10px 80px 0px 80px;
    padding-bottom: 70px;
  
  }
  .footer {
    height: 90px;
    margin-top: -70px;
  }
  

  footer {
    background-color: #007590;
    color: white;
    line-height: inherit;
    padding: 0 20px;
    font-family: 'Helvetica Regular';
    font-size: 16px;
    color: #99BBCB;
    .footerDiv{
        margin-left: 150px;
        padding:10px 20px 0px 50px;
    }
  }