<!--<div class="content-inside-one">
    <h1>Welcome !</h1>
    <p>to NATD UCM Tenants Portal</p>
  </div>
-->
<div class="marginH">



  <div class="centerD">
    <mat-card class="cardD ec-maroon">
      <div>
        <h2 style="text-align:center">$10K</h2>
        <p style="font-size: 15px">Year To Date Cost</p>
      </div>
    </mat-card>
    <mat-card class="cardD ec-orange">
      <div>
        <h2 style="text-align:center">$4</h2>
        <p style="font-size: 15px">Month To Date Cost</p>
      </div>
    </mat-card>
    <mat-card class="cardD ec-red">
      <div>
        <h2 style="text-align:center">212</h2>
        <p style="font-size: 15px">Instances</p>
      </div>
    </mat-card>
    <mat-card class="cardD ec-blue">
      <div>
        <h2 style="text-align:center">43</h2>
        <p style="font-size: 15px">Databases</p>
      </div>
    </mat-card>
  </div>
</div>