
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    //  background-image: url('./assets/imgs/Landing_Page_Banner.png');
      margin: 0;
      padding: 0;
      background-size: cover;
      
  
  }
  
html, body {
    height: 100%;
    margin: 0;
  }