.confirmDialog{
    padding: 10%;
    font-family: sans-serif;
    font-size: 23px;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-dialog-actions {
    /* padding: 8px 0; */
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    margin-bottom: -24px;
    justify-content: flex-end;
}